@model List<Post>
@{
    ViewData["Title"] = "Home Page";
}
<div class="d-flex flex-row mb-3 flex-wrap">
    @foreach (var post in Model)
    {
        <div class=" d-flex mb-3 col-3 px-1 w-100">
            <div class="d-flex flex-column text-dark rounded border w-100">

                <a asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id" class="d-block text-decoration-none text-dark">
                    <div>
                        <img class="w-100" height="250" src="~/images/@post.DocumentInfor.PictureUrl" alt="Logo" />
                    </div>
                    <p class="text-center">@post.DocumentInfor.Name</p>
                    @*<button asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id" class="btn btn-success">Chi tiết</button>*@
                </a>
                <a class="btn btn-success" asp-controller="Document" asp-action="Download" asp-route-id="@post.DocumentId" download>Download</a>
            </div>

        </div>

    }
</div>

