.app {
  position: relative;
  padding-bottom: 56px;
}

.content {
  width: 100%;
}

/* Main content */
.main {
  position: relative;
  background: #f5f8ff;
  width: 100%;
  padding: 0 1.6rem;
  padding-top: 56px;
  min-height: calc(100vh - 126px);
}
.right {
  display: none;
  background: #f5f8ff;
  border-left: 1px solid #e7e7e7;
  width: 345px;
  padding: 16px;
  min-height: calc(100vh - 126px);
}
.right-time {
  font-size: 2.8rem;
  font-weight: 600;
  background: var(--green-color);
  border-radius: 8px;
  color: var(--white-color);
}

.right-aws {
  width: 100%;
}
.right-aws_item {
  background: #d0e3ff;
  width: 50%;
  padding: 2px 4px;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  cursor: pointer;
}
.right-aws_item:hover{
  background: var(--primary-color);
}
/* .right-aws_item.selected {
  background: var(--primary-color) !important;
}
.right-aws_item.correct {
  background: var(--green-color);
}
.right-aws_item.error {
  background: rgb(224, 96, 104);
} */

.question-c {
  font-size: 2rem;
    font-weight: 600;
    float: left;
    margin-top: 10px;
}

/* .right-aws_item input[type="checkbox"] {
  accent-color: green;
  height: 20px;
  width: 20px;
}  */

.aws_item-box {
  display: block;
    width: 15%;
    height: 40px;
    float: left;
    margin-left: 4px;
}
/* .aws_item-box label {
  display: block;
} */

/* Customize the label (the container) */
.checkContainer {
  display: block;
  position: relative;
  /* padding-left: 35px;
  margin-bottom: 12px; */
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
    top: 18px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border: 1px solid #666;
    border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.checkContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkContainer input:checked ~ .checkmark {
  background-color: green;
  border: 0;
}

.checkContainer.error input:checked ~ .checkmark{
  background-color: red;
  border: 0;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkContainer .checkmark:after {
  left: 7px;
    top: 2px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* Main title */
.main-title h1 {
  font-size: 2.8rem;
  font-weight: 700;
}

.main-title p {
  font-size: 1.2rem;
}

/* Main move */

.main-move {
  margin-bottom: 24px;
}
.btn-move {
  display: block;
  padding: 4px 8px;
  background: var(--primary-color);
  color: #fff;
  font-size: 28px;
  outline: 0;
  border: 0;
  border-radius: 4px;
}
.btn-move:hover {
  background: var(--green-color);
}
/* Main question */
.main-question {
  position: relative;
  min-height: 430px;
}

.question_order {
  background: #e5dbff;
  color: #1a202c;
  padding: 8px 12px;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 0.8rem;
}

.question_content {
  font-weight: 600;
  margin-top: 8px;
}

.question_answers {
  background: #fff;
  padding: 20px;
  border-radius: 0.4rem;
  margin-bottom: 3.2rem;
}

.answer {
  border: none;
  background: transparent;
  cursor: pointer;
  margin-top: 1rem;
}

.answer span {
  display: block;
  background: #d0e3ff;
  text-align: center;
  width: 48px;
  height: 48px;
  line-height: 48px;
  border-radius: 50%;
  border: 1px solid #d0e3ff;
  color: #6088e0;
  font-weight: 600;
  font-size: 1.6rem;
}

.answer p {
  text-align: left;
  font-size: 1.6rem;
  margin-left: 1.6rem;
  font-weight: 700;
  width: calc(100% - 64px);
}

.answer.selected span {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--white-color);
}

.answer.selected p {
  color: var(--primary-color);
  text-decoration: underline;
}

.answer.checked--wrong span {
  background: rgb(255, 238, 239);
  color: rgb(224, 96, 104);
  border: 1px solid rgb(224, 96, 104);
}

.answer.checked--right span {
  background: rgb(240, 249, 248);
  color: rgb(104, 199, 181);
  border: 1px solid rgb(104, 199, 181);
}

/* Button rework */
.rework {
  margin-bottom: 16px;
}
.rework button {
  display: none;
}
.rework.active button {
  display: inline-block;
  margin-bottom: 16px;
  width: auto;
}

/* Time */
.option {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 56px;
  z-index: 999;
  background: var(--white-color);
  border-radius: 8px 8px 0px 0px;

  color: var(--white-color);
  overflow: hidden;
}

.option.active .time {
  background: rgb(224, 96, 104);
}

.time {
  height: 100%;
  width: calc(100% - 112px);
  background: var(--green-color);
  padding: 8px 16px;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 2.8rem;
}

.bars {
  width: 56px;
  cursor: pointer;
  background: var(--primary-color);
  padding: 10px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/* Sub question */

.subquestion {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  padding: 16px 16px 56px;
  background: #f5f8ff;
  opacity: 1;
}
.subquestion_title button {
  position: absolute;
  left: 16px;
  top: 16px;
}
.subquestion div[id = sub-question]{
  overflow-y: auto;
  height: calc(100vh - 140px);

}
.subquestion_item {
  margin-top: 16px;
  border: 1px solid #c5c4c4;
  border-radius: 4px;
  width: 100%;
  box-shadow: 1px 1px #e4e4e4;
  padding: 8px;
  cursor: pointer;
}

.subquestion_item:hover {
  background: var(--primary-color);
}

.subAnswers {
  width: calc(100% - 65px);
}

.answer.subAnswer {
  margin-top: 0;
  width: 25%;
}
.answer.subAnswer span {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 20px;
}

/* Result */
.result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  min-height: 300px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px rgb(0 0 0 / 40%);
  padding: 16px;
}

.result .result-text {
  font-size: 20px;
  font-weight: 600;
}

.result .result-point {
  font-size: 4.8rem;
  font-weight: bold;
  color: var(--green-color);
}

.result button {
  background: var(--primary-color);
  padding: 10px 12px;
  border: 0;
  border-radius: 4px;
  color: var(--white-color);
  cursor: pointer;
}

.boxScroll{
  display: block;
  overflow-y: auto;
  height: 444px;
}

/* Checkbox Customer */
