@model ShareEbook_v1.Models.Post

@{
    ViewData["Title"] = "Create";
}

<h1>Tạo mới</h1>

<h4>Bài đăng</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DocumentInfor.Name" class="control-label"></label>
                <input asp-for="DocumentInfor.Name" class="form-control" />
                <span asp-validation-for="DocumentInfor.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentInfor.Category" class="control-label"></label>
                <input asp-for="DocumentInfor.Category" class="form-control" />
                <span asp-validation-for="DocumentInfor.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentInfor.Author" class="control-label"></label>
                <input asp-for="DocumentInfor.Author" class="form-control" />
                <span asp-validation-for="DocumentInfor.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentInfor.Description" class="control-label"></label>
                <input  asp-for="DocumentInfor.Description" class="form-control" />
                <span asp-validation-for="DocumentInfor.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentInfor.Picture" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="DocumentInfor.Picture" class="custom-file-input" id="FLPicture"
                           onchange="document.getElementById('DocumentImage').src = window.URL.createObjectURL(this.files[0])" />
                    <label class="custom-file-label" for="FLPicture">Chọn hình ảnh</label>
                </div>
                <span asp-validation-for="DocumentInfor.Picture" class="text-danger"></span>
                <img id="DocumentImage" src="" alt="Logo Image" width="150" height="150" style="border:1px;margin-top:20px; margin-left:120px;"/>
            </div>
            <div class="form-group">
                <label asp-for="DocumentInfor.FileDocument" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="DocumentInfor.FileDocument" class="custom-file-input" id="FLPicture" />
                    <label class="custom-file-label" for="FLPicture">Chọn tệp</label>
                </div>
                <span asp-validation-for="DocumentInfor.FileDocument" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Tạo" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Quay về trang chủ</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}
